
.resetPasswordSection {
    width: 100vw;
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.infoContainer {
    width: 90vw;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width:768px) {

    .infoContainer {
        width: 60vw;
        min-height: 70vh;
    }

}

@media screen and (min-width:1280px) {

    .infoContainer {
        width: 40vw;
        min-height: 80vh;
    }

}